.top {
    background-color: #ffffff;
    height: 85px;
    background-attachment: fixed;
    margin: auto;
    clear: both;
}

.head {
    width: 960px;
    height: 85px;
    align-content: center;
    margin: auto;
    background-color: #ffffff;
    background-attachment: fixed;
    clear: both;
} 

#name {
    float: left;
    margin: auto;
    text-align: center;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 300px;
    height: 85px;
    line-height: 45px;
}

.menu {
    float: right;
    margin-top: 18px;
}

.topnav a {
    height: 85px;
    align-content: right;
    color: #777777;
    text-align: center;
    padding: 25px 10px 25px 10px;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px; 
    
}

.topnav #list {
    display: inline;
    border-right: 1px solid #777777;
}

.topnav #list:nth-child(3) {
    border-right: 0;
}

#navbar li:nth-child(3){
    border-right:0;
    }

body {
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

.containerIndex {
    width: 960px;
    height: 350px;
    margin: auto;
    background: #ffffff;
    border-color: #000000;
    overflow: auto;
    clear: both;
}

.me, #bio {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
}

h2 {
    color: #4aaaa5;
}

p {
    width: 95%;
}

#image {
    float: left;
    padding-right: 10px;
}

.containerPort {
    width: 960px;
    height: 350px;
    margin: auto;
    background: #ffffff;
    border-color: #000000;
    overflow: auto;
    clear: both;
}

.gallery1, .gallery2, .gallery3, .gallery4 {
    margin: auto;
    float: left;
    padding-left: 50px;
    text-align: center;
}

.containerContact{
    width: 960px;
    height: 375px;
    margin: auto;
    background: #ffffff;
    border-color: #000000;
    clear: both;
    overflow: auto;
    
}

#hr {
    width: 90%;
    align-items: center;
    margin-top: -10px;
}

footer {
    clear: both;
    width: 100%;
    height: 20px;
    background-color: #666666;
    margin-bottom: -1px;
    text-align: center;
    border-top: solid 8px #4aaaa5;
    padding-bottom: 25px;
    left: 0;
    bottom: 0;
    position: fixed;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 92%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaac;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #cccccc;
}
  
#form {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
}